.header
  box-sizing border-box
  width 100%
  background #ffffff
  border 1px solid #e5e5e5
  nav
    display flex
    justify-content space-between
    width 1200px
    height 70px
    margin 0 auto
    .left
      margin-right 15px
      margin-left 15px
      text-align center
      a
        display block
        height 40px
        font-size 40px
        img
          margin-top 8px
          height 100%
    .right
      width 70%
      margin-top 15px
      display flex
      align-content center
      ul
        width 100%
        display flex
        justify-content space-around
        font-size 16px
        li
          text-align center
          line-height 30px
          a
            font-weight 700
            color #121212
          &.position
            margin-left 0
            display flex
            justify-content space-around
            align-content center
            span
              font-weight 700
          &.active
            >a
              color #ff0000
          &.merchant
            >a
              border-radius 5px
              padding 5px
              background #ff0000
              color #ffffff
h2
  width  1200px
  margin 0 auto
  font-size 18px
  font-weight 600
  line-height 85px
.main_content
  width 1200px
  margin 0 auto
  box-sizing border-box
  display flex
  justify-content space-between
  .center
    width 970px
    display flex
    flex-direction column
    .facilitator_list
      width 100%
      display flex
      flex-wrap wrap
      .facilitator_item
        box-sizing border-box
        width 23%
        height 300px
        border 1px solid #eaeaea
        padding 10px
        margin 5px
        background #ffffff
        cursor pointer
        text-align center
        >img
          width 210px
          height 210px
        >p
          margin-top 10px
          height 26px
          line-height 26px
          white-space normal
          text-overflow ellipsis
          display flex
          justify-content flex-start
          >img
            vertical-align center
            width 18px
            height 17px
            margin-top 5px
          >b
            font-weight 700
            font-size 18px
            margin-left 10px
        .pp
          font-size 12px
          color #929292
          height 26px
          margin-bottom 5px
          text-align center
          display flex
          justify-content space-between
          >i
            font-style normal
    .more_info
      width 100%
      text-align center
      height 152px
      >span
        margin-top 50px
        display inline-block
        font-size 16px
        width 200px
        height 50px
        line-height 50px
        border 1px solid #e5e5e5
        background #ffffff
        color #b1b1b1
        border-radius 5px
        margin
  .ad_right
    width 230px
    box-sizing border-box
    font-style normal
    .up
      width 230px
      height 290px
      margin 5px 0 20px 0
    .down
      background url("../images/tuijianfuwushang_06.jpg")
      width 230px
      height 290px
      text-align center
      >img
        margin 50px
        width 130px
.guarantee
  width 100%
  text-align center
  padding-top 60px
  background #ffffff
  >h2
    font-size 30px
    font-family "微软雅黑"
    font-weight 800
    >i
      font-style normal
      color #fb474f
      font-weight 800
  >p
    font-size 22px
    color #3d3838
    padding 20px
.service_guarantee
  width 100%
  background #ffffff
  text-align center
  >ul
    display flex
    justify-content center
    white-space nowrap
    >li
      margin 0 20px
      font-size 18px
      color #1d1515
      >img
        vertical-align top
.footer
  width 100%
  background #ffffff
  padding-bottom 60px
  >dl
    width 1200px
    margin 0 auto
    display flex
    justify-content space-between
    >dt
      font-family "微软雅黑"
      font-size 18px
      font-weight 700
      line-height 30px
    >dd
      margin-left 30px
      width 90%
      line-height 30px
      display flex
      flex-wrap: wrap
      >a
        display block
        width 9%
        text-align center
        font-family "微软雅黑"
        font-size 16px
        font-weight 200
        color #898989
.cooperation
  width 100%
  >dl
    width 1200px
    margin 0 auto
    >dt
      padding 30px 0
      font-weight bold
      font-size 18px
      color #1d1515
    >dd
      width 100%
      display flex
      flex-direction column
      justify-content space-between
      >ul
        display flex
        >li
          width 10%
          height 60px
          a
            >img
              width 100px
.file
  width 100%
  >p
    width 1200px
    margin 0 auto
    text-align left
    font-size 14px
    line-height 40px
    color #898989