.header {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
.header nav .left {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}
.header nav .left a {
  display: block;
  height: 40px;
  font-size: 40px;
}
.header nav .left a img {
  margin-top: 8px;
  height: 100%;
}
.header nav .right {
  width: 70%;
  margin-top: 15px;
  display: flex;
  align-content: center;
}
.header nav .right ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.header nav .right ul li {
  text-align: center;
  line-height: 30px;
}
.header nav .right ul li a {
  font-weight: 700;
  color: #121212;
}
.header nav .right ul li.position {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.header nav .right ul li.position span {
  font-weight: 700;
}
.header nav .right ul li.active >a {
  color: #f00;
}
.header nav .right ul li.merchant >a {
  border-radius: 5px;
  padding: 5px;
  background: #f00;
  color: #fff;
}
h2 {
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 85px;
}
.main_content {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.main_content .center {
  width: 970px;
  display: flex;
  flex-direction: column;
}
.main_content .center .facilitator_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main_content .center .facilitator_list .facilitator_item {
  box-sizing: border-box;
  width: 23%;
  height: 300px;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin: 5px;
  background: #fff;
  cursor: pointer;
  text-align: center;
}
.main_content .center .facilitator_list .facilitator_item >img {
  width: 210px;
  height: 210px;
}
.main_content .center .facilitator_list .facilitator_item >p {
  margin-top: 10px;
  height: 26px;
  line-height: 26px;
  white-space: normal;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
}
.main_content .center .facilitator_list .facilitator_item >p >img {
  vertical-align: center;
  width: 18px;
  height: 17px;
  margin-top: 5px;
}
.main_content .center .facilitator_list .facilitator_item >p >b {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.main_content .center .facilitator_list .facilitator_item .pp {
  font-size: 12px;
  color: #929292;
  height: 26px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.main_content .center .facilitator_list .facilitator_item .pp >i {
  font-style: normal;
}
.main_content .center .more_info {
  width: 100%;
  text-align: center;
  height: 152px;
}
.main_content .center .more_info >span {
  margin-top: 50px;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #b1b1b1;
  border-radius: 5px;
margin
}
.main_content .ad_right {
  width: 230px;
  box-sizing: border-box;
  font-style: normal;
}
.main_content .ad_right .up {
  width: 230px;
  height: 290px;
  margin: 5px 0 20px 0;
}
.main_content .ad_right .down {
  background: url("../images/tuijianfuwushang_06.jpg");
  width: 230px;
  height: 290px;
  text-align: center;
}
.main_content .ad_right .down >img {
  margin: 50px;
  width: 130px;
}
.guarantee {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  background: #fff;
}
.guarantee >h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
}
.guarantee >h2 >i {
  font-style: normal;
  color: #fb474f;
  font-weight: 800;
}
.guarantee >p {
  font-size: 22px;
  color: #3d3838;
  padding: 20px;
}
.service_guarantee {
  width: 100%;
  background: #fff;
  text-align: center;
}
.service_guarantee >ul {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.service_guarantee >ul >li {
  margin: 0 20px;
  font-size: 18px;
  color: #1d1515;
}
.service_guarantee >ul >li >img {
  vertical-align: top;
}
.footer {
  width: 100%;
  background: #fff;
  padding-bottom: 60px;
}
.footer >dl {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer >dl >dt {
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.footer >dl >dd {
  margin-left: 30px;
  width: 90%;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}
.footer >dl >dd >a {
  display: block;
  width: 9%;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: 200;
  color: #898989;
}
.cooperation {
  width: 100%;
}
.cooperation >dl {
  width: 1200px;
  margin: 0 auto;
}
.cooperation >dl >dt {
  padding: 30px 0;
  font-weight: bold;
  font-size: 18px;
  color: #1d1515;
}
.cooperation >dl >dd {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cooperation >dl >dd >ul {
  display: flex;
}
.cooperation >dl >dd >ul >li {
  width: 10%;
  height: 60px;
}
.cooperation >dl >dd >ul >li a >img {
  width: 100px;
}
.file {
  width: 100%;
}
.file >p {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 40px;
  color: #898989;
}
