.header {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}
.header nav .left {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}
.header nav .left a {
  display: block;
  height: 40px;
  font-size: 40px;
}
.header nav .left a img {
  margin-top: 8px;
  height: 100%;
}
.header nav .right {
  width: 70%;
  margin-top: 15px;
  display: flex;
  align-content: center;
}
.header nav .right ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.header nav .right ul li {
  text-align: center;
  line-height: 30px;
}
.header nav .right ul li:hover >a {
  color: #f00;
}
.header nav .right ul li a {
  font-weight: 700;
  color: #121212;
}
.header nav .right ul li.position {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.header nav .right ul li.position span {
  font-weight: 700;
}
.header nav .right ul li.active >a {
  color: #f00;
}
.header nav .right ul li.merchant >a {
  border-radius: 5px;
  padding: 5px;
  background: #f00;
  color: #fff;
}
.banner_container {
  width: 100%;
  position: relative;
}
.banner_container .swiper-container {
  width: 100%;
  overflow: auto;
}
.banner_container .swiper-container .swiper-wrapper {
  width: 300%;
  font-size: 0;
  display: flex;
}
.banner_container .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 420px;
}
.banner_container .swiper-container .swiper-wrapper .swiper-slide >a >img {
  height: 100%;
}
.banner_container .banner_nav {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 20%;
}
.banner_container .banner_nav .nav_list {
  background: #757881;
  opacity: 0.7;
  width: 200px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_container .banner_nav .nav_list .nav_item {
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 42px;
}
.banner_container .banner_nav .nav_list .nav_item a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner_container .banner_nav .nav_list .nav_item a:hover {
  background: #235291;
}
.banner_container .banner_nav .nav_list .nav_item a:hover >img {
  visibility: hidden;
}
.banner_container .banner_nav .nav_list .nav_item a span {
  margin-right: 20px;
  font-weight: 700;
  color: #fff;
}
.ad_box {
  width: 100%;
  background: #fff;
  padding-bottom: 10px;
  margin-bottom: 23px;
}
.ad_box .serve_content {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0;
}
.ad_box .serve_content .serve_navigation {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei";
  margin-bottom: 20px;
}
.ad_box .serve_content .serve_navigation .up {
  font-size: 28px;
  font-weight: 800;
  color: #3d3838;
}
.ad_box .serve_content .serve_navigation .down {
  font-family: "幼圆";
  margin-top: 15px;
  position: relative;
}
.ad_box .serve_content .serve_navigation .down >ul {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.ad_box .serve_content .serve_navigation .down >ul >li {
  margin: 0 10px;
}
.ad_box .serve_content .serve_navigation .down >ul >li >a {
  color: #3d3838;
}
.ad_box .serve_content .serve_navigation .down >ul >li >a:hover {
  color: #f00;
}
.ad_box .serve_content .serve_navigation .down >span {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}
.ad_box .serve_content .serve_navigation .down >span >a:hover {
  color: #f00;
}
.ad_box .serve_content .service_tags {
  width: 100%;
}
.ad_box .serve_content .service_tags .service_tags_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item {
  width: 20%;
  box-sizing: border-box;
  margin: 0 5px;
  border: 1px solid #e5e5e5;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item:hover {
  box-shadow: 5px 5px 15px #ccc;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a >img {
  width: 100%;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .service_name {
  height: 28px;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  font-weight: 800;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .service_details {
  color: #929292;
  padding: 5px 0;
  font-size: 13px;
  height: 58px;
  line-height: 18px;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .price {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .price >div {
  font-size: 14px;
  padding: 5px 5px;
  color: #fb474f;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .price >div >span {
  font-size: 20px;
  font-weight: 600;
}
.ad_box .serve_content .service_tags .service_tags_list .service_tags_item >a .price >div.detail {
  width: 76px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
}
.guarantee {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  background: #fff;
}
.guarantee >h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
}
.guarantee >h2 >i {
  font-style: normal;
  color: #fb474f;
  font-weight: 800;
}
.guarantee >p {
  font-size: 22px;
  color: #3d3838;
  padding: 20px;
}
.service_guarantee {
  width: 100%;
  background: #fff;
  text-align: center;
}
.service_guarantee >ul {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.service_guarantee >ul >li {
  margin: 0 20px;
  font-size: 18px;
  color: #1d1515;
}
.service_guarantee >ul >li >img {
  vertical-align: top;
}
.footer {
  width: 100%;
  background: #fff;
  padding-bottom: 60px;
}
.footer >dl {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer >dl >dt {
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.footer >dl >dd {
  margin-left: 30px;
  width: 90%;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}
.footer >dl >dd >a {
  display: block;
  width: 9%;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: 200;
  color: #898989;
}
.cooperation {
  width: 100%;
}
.cooperation >dl {
  width: 1200px;
  margin: 0 auto;
}
.cooperation >dl >dt {
  padding: 30px 0;
  font-weight: bold;
  font-size: 18px;
  color: #1d1515;
}
.cooperation >dl >dd {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cooperation >dl >dd >ul {
  display: flex;
}
.cooperation >dl >dd >ul >li {
  width: 10%;
  height: 60px;
}
.cooperation >dl >dd >ul >li a >img {
  width: 100px;
}
.file {
  width: 100%;
}
.file >p {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 40px;
  color: #898989;
}
